nav {
  line-height: 50px;
  height: 50px;
}

.background_blue {
  background-color: #2C3E50;
}

.background_green {
  background-color: #1ABC9C;
}

.white {
  color: white;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.position_center {
  text-align: center;
}

.height_700 {
  height: 700px;
}

.height {
  max-width: 80%;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.text_and_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.padding_top_100 {
  padding-top: 100px;
}

.blocchetto_colorato {
  height: 400px;
  width: 400px;
  background-color: yellow;
  border: 1px solid black;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 940px;
  margin-bottom: 30px;
}
