nav {
  line-height: 50px;
  height: 50px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.background_blue {
  background-color: #2C3E50;
}

.background_green {
  background-color: #1ABC9C;
}

.white {
  color: white;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.position_center {
  text-align: center;
}

.height_700 {
  height: 700px;
}

.width {
  width: 100%;
}

.height {
  max-width: 80%;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.text_and_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.padding_top_100 {
  padding-top: 100px;
}

.padding_bottom_100 {
  padding-bottom: 100px;
}

.blocchetto_colorato {
  height: 400px;
  width: 100%;
  background-color: yellow;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.margin_top_100 {
  margin-top: 100px;
}

.padding {
 padding: 100px;
}

/* .copyright {
  line-height: 20px;
} */
